.badge {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  border-radius: 1.5625rem;
  padding: .375rem 1.4rem;
  color: $white;
  font-weight: 600;
  font-size: 1.1875rem;
  z-index: 10;
  &_type_vip {
    letter-spacing: 4px;
    background: linear-gradient(92.29deg, #EC5F5E 6.91%, #e34385 99.55%) padding-box, linear-gradient(92.29deg, #EC5F5E 6.91%, #e34385 99.55%) border-box;
  }
  &_type_published {
    background-color: #449D1A;
  }
  &_type_unpublished {
    background-color: $black;
  }
}