.form-block.form-block_type_success
    .form-block__title Регистрация завершена успешно!
    .form-block__message На вашу электронную почту отправлен #[<br>] пароль для входа на сайт
    +link('Перейти к авторизации', './login.html', 'brn_border_round')
    a(href="#").form-block__trouble.link
        span.link_underline_pink Если сообщение не пришло, проверьте папку спам