.user-shares{
  padding-top: 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc((320px - 2rem) + 4vw), 1fr));
    grid-gap: calc(.8rem + 1vw) calc(1rem + 1.6vw);
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 1vw;
    @media (max-width: 350px) {
      grid-template-columns: repeat(auto-fit, minmax(calc(320px - 2rem), 1fr));
    }
  }
  &__link {
    text-align: center;
    margin-top: calc(1.4rem + 2vw);
    font-weight: 600;
  }
}