.swiper-container.main-slider__container
    .swiper-wrapper
        .swiper-slide
            img(src="./static/images/content/main-slider-1.jpg")
        .swiper-slide
            img(src="./static/images/content/main-slider-1.jpg")
        .swiper-slide
            img(src="./static/images/content/main-slider-1.jpg")
    .swiper-pagination.main-slider__pagination
    .swiper-button-prev.main-slider__btn-prev
    .swiper-button-next.main-slider__btn-next