.contacts {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  &__list {
    width: 100%;
  }
  &__info {
    position: absolute;
    bottom: 20px;
    width: 436px;
    background-color: #fff;
    border-radius: 1.5rem;
    padding: 2.8rem 3.2rem 2.3rem 3.2rem;
    text-align: right;
    right: 16.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (max-width: 576px) {
      right: 0;
      margin: 0 15px;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      width: auto;
    }
  }
  &__item:not(:first-child) {
    margin-top: 1rem;
  }
  &__title {
    font-weight: 500;
    color: #7C7C7C;
  }
  &__link {
    font-size: 1.188rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    margin-top: .5rem;
  }
  &__btn {
    margin-top: 2.8rem;
    max-width: 290px;
    text-align: left;
    font-size: calc(.8rem + .25vw);
    font-weight: 600;
  }
}

.map {
  position: relative;
}
