.card-add-product {
  display: flex;
  position: relative;
  padding: 1.375rem;
  border: 1px solid #878787;
  border-radius: 0.875rem;
  min-width: 0;
  @media all and (max-width: 400px) {
    flex-direction: column-reverse;
  }
  &__descr {
    border: none;
    color: #5E5D5D;
    font-weight : 400;
    padding: 0.813rem 1.25rem;
    min-height: 6.875rem;
    &::placeholder {
      color: #C4C4C4;
    }
    &_is_empty {
      border: 1px solid #878787;
      border-radius: 0.875rem;
      font-weight: 500;
      color: #C4C4C4;
    }
  }
  &__index {
    position: absolute;
    color: #5E5D5D;
    top: 0.688rem;
    left: 0.938rem;
    line-height: 1;
  }
  &__title {
    font-size: 1.188rem;
    color: #5E5D5D;
    font-weight: 700;
    position: relative;
    border: none;
    &::placeholder {
      color: #C4C4C4;
      font-size: calc(.8rem + .5vw);
    }
    &_is_empty {
      color: #C4C4C4;
      font-weight: 500;
      background:linear-gradient(#969696,#969696) bottom right no-repeat;
      background-size:70% 1px;
    }
  }
  &__icon {
    background: url(../images/general/+.png), $white;
    background-position: center;
    background-repeat: no-repeat;
    border-color: $white;
  }
  &__inner {
    padding: 1rem 1rem 0.438rem;
    flex: 3;
    min-width: 0;
    max-height: 13.813rem;
    overflow-y: auto;
    .form-group:not(:first-child) {
      margin-top: 0.938rem;
    }
  }
  &__thumb {
    flex: 2;
    display: flex;
    max-height: 10.938rem;
    border-radius: 0.625rem;
    background-color: #E7E7E7;
    overflow: hidden;
    min-width: 7.813rem;
    min-height: 7.813rem;
    position: relative;
    @media all and (max-width: 400px) {
      margin-top: 0.688rem;
    }
  }
}