extends template/main

block variables
    - var title = 'О компании'
    - var pageClass = 'aboutUsPage'

block content
    section.page-header
        .page-header__container.container
            ul.breadcrumbs
                +breadcrumbs-item('О компании')
                +breadcrumbs-item('Главная', '/')
            .title О компании
    section.content-page
        .container
            | .ﺔﻟﻮﻬﺳ ﻞﻜﺑ ﻢﻬﻨﻴﺑ ﺎﻤﻴﻓ ﺮﺷﺎﺒﻤﻟا ﻞﺻاﻮﺘﻟا ﺔﺣﺎﺗإو ﻢﻬﻨﻴﺑ ﺔﻟواﺪﺘﻤﻟا تﺎﻣﺪﺨﻟاو ﻊﻠﺴﻟا عاﻮﻧأ ﻒﻠﺘﺨﻣ حّﻒﺼﺗو ضﺮﻌﻟ ﺔﻴﻋﺮﻓو ﺔﻴﺴﻴﺋر مﺎﺴﻗأ ﺪﺟﻮﻳ ﻪﻌﻴﺑ ﺪﻳﺮﻳ اّﻢﻋ نﺎﻠﻋﺈﻟا وأ ﻪﻨﻋ ﺚﺤﺒﻳ ﺎﻣ دﺎﺠﻳإ مﺪﺨﺘﺴﻤﻟا ﻰﻠﻋ ﻞﻬﺴﻳ ﻰﺘﺣو .ﺔﻠﻤﻌﺘﺴﻣ مأ ةﺪﻳﺪﺟ تﺎﺠﺘﻨﻤﻟا ﻚﻠﺗ ﺔﻟﺎﺣ ﺖﻧﺎﻛ ءاﻮﺳو ،ﺮﻛذُي ﺪﻬﺟ ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا
            img(src="./static/images/content/about-us.jpg" style="float:right; margin: 1rem 0 1rem 1rem;")
            br
            br
            | .ﺔﻟﻮﻬﺳ ﻞﻜﺑ ﻢﻬﻨﻴﺑ ﺎﻤﻴﻓ ﺮﺷﺎﺒﻤﻟا ﻞﺻاﻮﺘﻟا ﺔﺣﺎﺗإو ﻢﻬﻨﻴﺑ ﺔﻟواﺪﺘﻤﻟا تﺎﻣﺪﺨﻟاو ﻊﻠﺴﻟا عاﻮﻧأ ﻒﻠﺘﺨﻣ حّﻒﺼﺗو ضﺮﻌﻟ ﺔﻴﻋﺮﻓو ﺔﻴﺴﻴﺋر مﺎﺴﻗأ ﺪﺟﻮﻳ ﻪﻌﻴﺑ ﺪﻳﺮﻳ اّﻢﻋ نﺎﻠﻋﺈﻟا وأ ﻪﻨﻋ ﺚﺤﺒﻳ ﺎﻣ دﺎﺠﻳإ مﺪﺨﺘﺴﻤﻟا ﻰﻠﻋ ﻞﻬﺴﻳ ﻰﺘﺣو .ﺔﻠﻤﻌﺘﺴﻣ مأ ةﺪﻳﺪﺟ تﺎﺠﺘﻨﻤﻟا ﻚﻠﺗ ﺔﻟﺎﺣ ﺖﻧﺎﻛ ءاﻮﺳو ،ﺮﻛذُي ﺪﻬﺟ ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا
            | ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا
            | .ﺔﻟﻮﻬﺳ ﻞﻜﺑ ﻢﻬﻨﻴﺑ ﺎﻤﻴﻓ ﺮﺷﺎﺒﻤﻟا ﻞﺻاﻮﺘﻟا ﺔﺣﺎﺗإو ﻢﻬﻨﻴﺑ ﺔﻟواﺪﺘﻤﻟا تﺎﻣﺪﺨﻟاو ﻊﻠﺴﻟا عاﻮﻧأ ﻒﻠﺘﺨﻣ حّﻒﺼﺗو ضﺮﻌﻟ ﺔﻴﻋﺮﻓو ﺔﻴﺴﻴﺋر مﺎﺴﻗأ ﺪﺟﻮﻳ ﻪﻌﻴﺑ ﺪﻳﺮﻳ اّﻢﻋ نﺎﻠﻋﺈﻟا وأ ﻪﻨﻋ ﺚﺤﺒﻳ ﺎﻣ دﺎﺠﻳإ مﺪﺨﺘﺴﻤﻟا ﻰﻠﻋ ﻞﻬﺴﻳ ﻰﺘﺣو .ﺔﻠﻤﻌﺘﺴﻣ مأ ةﺪﻳﺪﺟ تﺎﺠﺘﻨﻤﻟا ﻚﻠﺗ ﺔﻟﺎﺣ ﺖﻧﺎﻛ ءاﻮﺳو ،ﺮﻛذُي ﺪﻬﺟ ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا
            br
            br
            br
            | .ﺔﻟﻮﻬﺳ ﻞﻜﺑ ﻢﻬﻨﻴﺑ ﺎﻤﻴﻓ ﺮﺷﺎﺒﻤﻟا ﻞﺻاﻮﺘﻟا ﺔﺣﺎﺗإو ﻢﻬﻨﻴﺑ ﺔﻟواﺪﺘﻤﻟا تﺎﻣﺪﺨﻟاو ﻊﻠﺴﻟا عاﻮﻧأ ﻒﻠﺘﺨﻣ حّﻒﺼﺗو ضﺮﻌﻟ ﺔﻴﻋﺮﻓو ﺔﻴﺴﻴﺋر مﺎﺴﻗأ ﺪﺟﻮﻳ ﻪﻌﻴﺑ ﺪﻳﺮﻳ اّﻢﻋ نﺎﻠﻋﺈﻟا وأ ﻪﻨﻋ ﺚﺤﺒﻳ ﺎﻣ دﺎﺠﻳإ مﺪﺨﺘﺴﻤﻟا ﻰﻠﻋ ﻞﻬﺴﻳ ﻰﺘﺣو .ﺔﻠﻤﻌﺘﺴﻣ مأ ةﺪﻳﺪﺟ تﺎﺠﺘﻨﻤﻟا ﻚﻠﺗ ﺔﻟﺎﺣ ﺖﻧﺎﻛ ءاﻮﺳو ،ﺮﻛذُي ﺪﻬﺟ ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا