extends template/main

block variables
    - var title = 'Личный кабинет Сброс пароля'
    - var pageClass = 'accountResetPassPage'

block content
    section.page-header
        .page-header__container.container
            .title.title_align_right Сброс пароля
    section.account
        .container
            form(action="#" method="post")#personal-info-edit
                .flex-grid
                    .col_xl_100.col
                        span.account__notification На указанный e-mail будет выслан новый сгенерированный пароль
                        +input('', 'Ваш E-mail', 'email', 'modnova@gmail.com', '', '', '', '')
                        .account__btns-wrapper
                            +link('Вернуться', './account.html', 'btn_border_round account__btn')
                            +button('Сбросить', false, 'btn_border_round btn_icon_left btn_type_edit account__btn')