section.seo
    .container.content-block
        .content-block__title حﻮﺘﻔﻤﻟا قﻮﺴﻟا ﻦﻋ
        .content-block__text
            | .ﺔﻟﻮﻬﺳ ﻞﻜﺑ ﻢﻬﻨﻴﺑ ﺎﻤﻴﻓ ﺮﺷﺎﺒﻤﻟا ﻞﺻاﻮﺘﻟا ﺔﺣﺎﺗإو ﻢﻬﻨﻴﺑ ﺔﻟواﺪﺘﻤﻟا تﺎﻣﺪﺨﻟاو ﻊﻠﺴﻟا عاﻮﻧأ ﻒﻠﺘﺨﻣ حّﻒﺼﺗو ضﺮﻌﻟ ﺔﻴﻋﺮﻓو ﺔﻴﺴﻴﺋر مﺎﺴﻗأ ﺪﺟﻮﻳ ﻪﻌﻴﺑ ﺪﻳﺮﻳ اّﻢﻋ نﺎﻠﻋﺈﻟا وأ ﻪﻨﻋ ﺚﺤﺒﻳ ﺎﻣ دﺎﺠﻳإ مﺪﺨﺘﺴﻤﻟا ﻰﻠﻋ ﻞﻬﺴﻳ ﻰﺘﺣو .ﺔﻠﻤﻌﺘﺴﻣ مأ ةﺪﻳﺪﺟ تﺎﺠﺘﻨﻤﻟا ﻚﻠﺗ ﺔﻟﺎﺣ ﺖﻧﺎﻛ ءاﻮﺳو ،ﺮﻛذُي ﺪﻬﺟ ﻞﻗﺄﺑو ﻦﻜﻤﻣ ﺖﻗو ﺮﺼﻗأ لﺎﻠﺧ تﺎﻣﺪﺨﻟاو تﺎﺠﺘﻨﻤﻟاو ﻊﻠﺴﻟا ﻒﻠﺘﺨﻣ ءاﺮﺷو ﻊﻴﺑ ﻦﻣ ﻦﻳﺮﺘﺸﻣ مأ ﻦﻴﻌﺋﺎﺑ اﻮﻧﺎﻛ ءاﻮﺳ ﻦﻴﻣﺪﺨﺘﺴﻤﻟا نّﻚﻤﺗ ﻲﺘﻟاو ﺔﺑﻮﺒﻤﻟا تﺎﻧﺎﻠﻋﺈﻟا لﺎﺠﻣ ﻲﻓ ﺔﺼﺼﺨﺘﻤﻟا ﺔﻴﻧوﺮﺘﻜﻟﺈﻟا ﻊﻗاﻮﻤﻟا داّور ﻢﻫأ ﻦﻣ ﺪﺣاو ﻮﻫ حﻮﺘﻔﻤﻟا قﻮﺴﻟا
