mixin menu(menuSelected)
    nav.menu.aside-menu__menu
        ul.menu__list
            each menuItem in menuList
                +menu_item(menuItem, menuSelected, submenuSelected)

mixin menu_item(menuItem, menuSelected, submenuSelected)
    li.menu__item(class = menuSelected === menuItem.title ? "active" : "")
        a.menu__link(href = menuItem.link)= menuItem.title
        if menuItem.subnav.length > 0
            ul.submenu
                each submenuItem in menuItem.subnav
                    li.submenu__item(class = submenuSelected === submenuItem.title ? "active" : "")
                        a.submenu__link(href=submenuItem.link)=submenuItem.title

