.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &_hover {
    transition: all .3s;
    &:hover {
      background-color: $pink;
      svg {
        fill: $white;
      }
    }
  }
  svg {
    overflow: visible;
    fill: $pink;
    width: 100%;
    height: 100%;
  }
  &_have_stroke {
    stroke: $pink;
    stroke-width: 2px;
  }
  &_size_lg {
    height: 50px;
    width: 50px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &_size_md {
    height: 36px;
    width: 36px;
    svg {
      height: 20px;
      width: 20px;
    }
  }
  &_size_sm {
    height: 24px;
    width: 24px;
  }
  &_size_xs {
    height: 18px;
    width: 18px;
  }
  &_border_round {
    border-radius: 50%;
    border: 1px solid $pink;
  }
}